Auth_PG_host localhost
Auth_PG_port 5432
Auth_PG_database biblioteca
Auth_PG_pwd_table password
Auth_PG_uid_field username
Auth_PG_pwd_field password
AuthName "access Books Restricted Area"
AuthType basic
Auth_PG_encrypted off
Auth_PG_pwd_whereclause "and area='books'"

<LIMIT GET POST>
require valid-user
</LIMIT>
